<ul>
    <li><%= @cocktail.name %></li>

    <% @cocktail.doses.each do |dose| %>
    <li><%= dose.description %></li>
    <% end %>

    <% @cocktail.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
    <% end %>

</ul>

<%= link_to "Becky, edit that", edit_cocktail_path(@cocktail)  %>
<%= link_to "Becky, add that dose", new_cocktail_dose_path(@cocktail) %>
<%= link_to "Go Back Becky", cocktails_path %>
<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
